.grid-element {
    aspect-ratio: 1;
    display: flex;
    border-style: none;
    border-width: 1px;
    background-color: white;
    border-color: white;
    justify-content: center;
    align-content: center;
    height: 10px;
}
